@model IEnumerable<SS1892.EPLPredictor.Models.TeamModel>

@{
    var role = AuthModel.Role;
    ViewData["Title"] = "Teams";
}

<h1>@Model.First().Type Teams</h1>

<p>
     @if (@role == "Admin" )
            {
    <a asp-action="Create">Create New Team</a>
            }
</p>
<ul>
    <li>
        <a asp-area="" asp-controller="Teams" asp-action="Index" asp-route-type="EPL">EPLTeams</a>
    </li>
    <li>
            <a asp-area="" asp-controller="Teams" asp-action="Index" asp-route-type="UCL">UCL Teams</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>                
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                Tournament
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-route-type="@item.Type" asp-route-teamId="@item.Id" asp-controller="Fixtures" asp-action="GetFixtureByTeam">@Html.DisplayFor(modelItem => item.Team)</a>
                
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Type)

            </td>
            <td>
             @if (@role == "Admin" )
             {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> | </span>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span> | </span>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
             }
            </td>
        </tr>
}
    </tbody>
</table>
