@model IEnumerable<SS1892.EPLPredictor.Models.FixtureModel>

@{
    var userName = AuthModel.UserName;
    string color = "";
    var shortDate = "";
    ViewData["Title"] = "Index";

    bool isPast = false;
    var nextFixtureDate = Model.Where(f => f.Date > DateTime.Now).FirstOrDefault().Date;
    var xxxx = 1;
}

<h1>Fixture  Predictions </h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Cup
            </th>
            <th>
                Fixture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {

            if (item.Date == nextFixtureDate)
            {
                isPast = true;
                color = "Yellow";
            }
            else if (item.Date < nextFixtureDate)
            {
                isPast = false;
                color = "LightGrey";
            }
            else
            {
                color = "";
            }
            @*isPast = item.Id==nextFixtureId;
            color= isPast?  "LightGrey": "Yellow";*@
            var logo = "";
            var logotitle = "";
            if (item.Type =="EPL") {
                logo= "/images/epllogo.png";
                logotitle = "EPL";
            }
            else if (item.Type == "UCL") {
                logo = "/images/ucllogo.png";
                logotitle = "UCL";
            }
            else if (item.Type == "CRB")
            {
                logo = "/images/crblogo.png";
                logotitle = "Carabao";
            }

            <tr style="background-color:@color">
            
            <td style="width:5%">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="width:1px">
                    <img src=@logo width="30" height=30 title=@logotitle />
            </td>
            <td style="width:25%">
                    @Html.DisplayFor(modelItem => item.HomeTeam) vs @Html.DisplayFor(modelItem => item.AwayTeam)
            </td> 
            <td style="width:15%">
                    @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td style="width:15%">
                    
                    @Html.DisplayFor(modelItem => item.Location)
            </td>
                <td style="width:30%">
            @if (isPast == false)
            {                
                <a asp-action="GetPredictionsByFixture" asp-route-fixId="@item.Id">Past Prediction List</a>
                <a asp-action="PredictionsWinners" asp-route-id="@item.Id">Winners</a>
            }
            else
            {
                @if (AuthModel.Role == "Admin"){

                    <a asp-action="GetPredictionsByFixture" asp-route-fixId="@item.Id">Prediction List</a> <span> | </span>
                }
                <a asp-action="PredictionsWinners" asp-route-id="@item.Id">Winners</a>
                
            }
                    @if (AuthModel.Role == "Admin")
                    {
                                <li><a asp-controller="Predictions" asp-action="MembersPrediction" asp-route-fixId="@item.Id">Members Prediction</a></li>
                    }
                </td>
            </tr>
            
        }
        @color="";
    </tbody>
</table>
