@model List<UserPredictionModel>

@{
    var HomeTeam = Model.First().Fixture.HomeTeam;
    var AwayTeam = Model.First().Fixture.AwayTeam;
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(odd) {
        background-color: lime;
    }
    tr:nth-child(even) {
        background-color: lightblue;
    }
</style>
<h1>Members Prediction</h1>
<hr />

        @using (Html.BeginForm("MembersPrediction", null, FormMethod.Post, null))
        {
            <table width="100%" border="1">
                <thead>
                    <tr>
                        
                        <th style="width:fit-content">
                            @Html.DisplayNameFor(model => model.First().UserId)
                        </th>
                        <th style="width:fit-content">
                            @Html.DisplayNameFor(model => model.First().UserName)
                        </th>
                        <th style="width:fit-content">
                            @Html.DisplayNameFor(model => model.First().Name)
                        </th>
                        <th style="width:fit-content">
                            Prediction
                        </th>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>                                 
                            <td>
                        @Html.HiddenFor(model => model[i].Id)
                        @Html.HiddenFor(model => model[i].UserId)
                        @Html.HiddenFor(model => model[i].UserName)
                        @Html.HiddenFor(model => model[i].Prediction.Id)
                        @Html.HiddenFor(model => model[i].Prediction.FixtureId)
                        @Html.DisplayFor(model => model[i].UserId)
                            </td> 
                            <td>
                        @Html.DisplayFor(model => model[i].UserName)
                            </td>
                            <td>
                        @Html.DisplayFor(model => model[i].Name)
                            </td>
                            <td>
                        @HomeTeam : @Html.EditorFor(model => model[i].Prediction.HomeTeamScore, new { htmlAttributes = new { @class = "form-control",style = "width:70px" } })
                        @AwayTeam : @Html.EditorFor(model => model[i].Prediction.AwayTeamScore, new { htmlAttributes = new { @class = "form-control",style = "width:70px" } })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
