@model IEnumerable<SS1892.EPLPredictor.Models.PredictionWinnersModel>

@{
    var role = AuthModel.Role;
    ViewData["Title"] = "Prediction Winners";
    string fixture = ViewBag.Fixture;
    string color = "";
}

<h1>Prediction Winners for Fixture : @fixture</h1>
<h2>@fixture</h2>

<p>
    @* <a asp-action="Create">Create New Member </a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name) [@Html.DisplayNameFor(model => model.UserName)]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Point)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if(item.Point==3){ color = "cyan"; }
            if (item.Point != 3) { color = ""; }
            <tr style="background-color: @color">
                <td>
                    @Html.DisplayFor(modelItem => item.Name) [@Html.DisplayFor(modelItem => item.UserName)]
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Point)
                </td>                
            </tr>
        }
    </tbody>
</table>
    <div>
        <a asp-action="Index">Back to Predictions</a>
    </div>
</table>
